<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chatroom</title>
    <script src="../socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div align="center">
        <p>
            <button id="addChatRoom">
                輸入暱稱
            </button>
        </p>


        <p>
            <ul id="msgRecords">

            </ul>

            <div>
                <input type="text" id="message">
                <button id="sendBtn">傳送訊息</button>
            </div>
        </p>
    </div>

    <script>
        var socket = io();
        var joinBtn = document.getElementById('addChatRoom');
        var sendBtn = document.getElementById('sendBtn');
        var message = document.getElementById('message');
        var ul = document.getElementById('msgRecords');
        var name = 'Guest'; //default name

        socket.on('sendMessage', res => {
            const li = document.createElement('li');
            const span = document.createElement('span');

            li.style.textAlign = name == res.username ? 'right' : 'left';
            span.textContent = `${res.date}  ${res.username} 說：${res.content}`;
            span.style.borderColor = name == res.username ? 'transparent red transparent transparent' :
                'transparent transparent transparent gray';
            li.appendChild(span);
            ul.appendChild(li);
        })

        message.addEventListener('keydown', (e) => {
            if (e.keyCode == 13)
                sendBtn.click();
        })

        joinBtn.addEventListener('click', () => {
            name = prompt('請輸入暱稱', 'Guest');
            socket.emit('addUser', name);
        })

        sendBtn.addEventListener('click', () => {
            const content = message.value;

            if (content.length == 0)
                return false;

            socket.emit('sendMessage', {
                username: name,
                content: content,
                date: new Date().toLocaleString().split(' ')[1]
            });

            message.value = '';
        })
    </script>
</body>

</html>