<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>index Page</title>
    <style>
        body {
            background: #333;
        }

        .container {
            margin-top: 20px;
        }

        .card-header {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">

                <a href="/registerPage" class="btn btn-primary btn-lg btn-block">Regisetr Button</a>
                <a href="/loginPage" class="btn btn-primary btn-lg btn-block">Login Button</a>
            </div>
        </div>
    </div>
</body>

</html>