<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <script src="../socket.io/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Register</h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="account">帳號：</label>
                    <input type="text" class="form-control" id="account">
                </div>

                <div class="form-group">
                    <label for="password">密碼：</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <button class="btn btn-primary btn-lg btn-block" id="loginBtn">Login Button</button>
            </div>
        </div>
    </div>

    <script>
        var socket = io();
        var loginBtn = document.getElementById('loginBtn');
        var name = '';

        socket.on('login', msg => {
            name = msg.username;
            console.log(name);
        })

        loginBtn.addEventListener('click', () => {
            socket.emit('login', {
                username: document.getElementById('account').value,
                password: document.getElementById('password').value
            });
        })
    </script>
</body>

</html>