<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="../socket.io/socket.io.js"></script>
    <style>
        .container {
            margin-top: 20px;
        }

        .card-header {
            text-align: center;
        }

        body {
            background: #333;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Register</h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">姓名：</label>
                    <input type="text" class="form-control" id="username">
                </div>

                <div class="form-group">
                    <label for="account">帳號：</label>
                    <input type="text" class="form-control" id="account">
                </div>

                <div class="form-group">
                    <label for="password">密碼：</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <button class="btn btn-primary btn-lg btn-block" id="registerBtn">Register Button</button>
            </div>
        </div>
    </div>

    <script>
        var socket = io();
        var btn = document.getElementById('registerBtn');

        btn.addEventListener('click', (e) => {
            socket.emit('register', {
                username: document.getElementById('username').value,
                account: document.getElementById('account').value,
                password: document.getElementById('password').value
            });
        })

        socket.on('register', msg => {
            console.log(msg);
        })
    </script>
</body>

</html>